@tailwind components;
@tailwind utilities;

.sidebar {
    width: 300px;
}
.header-menu__link {
    @apply text-gray-500;
}
.header-menu__link.active {
    font-weight: 500;
    color: black;
}
a:-webkit-any-link {
    text-decoration: none;
}