@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: white;
    --foreground: black;
    --main-bg: rgba(244, 246, 251, 0.592);
    
    --scrollbarBG: #f7f7f7;
    --thumbBG: #90A4AE;

    --heading-color: hsl(0, 0%, 2%);
 
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
 
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
 
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
 
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(213, 27%, 92%);
 
    --primary: rgb(70, 154, 196);
    --primary-foreground: hsl(210 40% 98%);
 
    --secondary: hsl(210, 27%, 94%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
 
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
 
    --destructive: hsl(348 100% 57%);
    --destructive-foreground: hsl(210 40% 98%);
 
    --success: hsl(167.26deg 52.66% 48.79%);
    --success-foreground: hsl(136, 0%, 100%);
 
    --ring: hsl(222.2 84% 4.9%);
 
    --radius: hsl(0.5rem);
  }
 
}
 
.dark {
  --background: hsl(180, 31%, 6%);
  --foreground: hsl(218 11% 65%);
  --main-bg: rgba(24, 28, 40, 0.481);;

  --scrollbarBG: #1b1e2f;
  --thumbBG: #90A4AE;

  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);

  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);

  --card: hsl(222.2 84% 4.9%);
  --card-foreground: hsl(218 11% 65%);
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);

  --primary: rgb(70, 154, 196);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);

  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);

  --destructive: hsl(350 70% 56%);
  --destructive-foreground: hsl(210 40% 98%);

  --ring: hsl(212.7 26.8% 83.9%);
  --heading-color: hsl(210 40% 98%);
}
.chat-messages {
  scrollbar-width: thin;
}
html {
  --scrollbarBG: #1b1e2f;
  --thumbBG: #90A4AE;
}
.chat-messages::-webkit-scrollbar {
  width: 11px;
}
.chat-messages {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.chat-messages::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.body-content main {
  background: var(--main-bg);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,h2,h3,h4,h5,h6 {
    color: var(--heading-color);
  }
}